# Android Studio
*.iml
.idea/
.DS_Store

# Gradle
.gradle/
build/
captures/
.externalNativeBuild/
.cxx/
local.properties

# IntelliJ IDEA project files
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# APK
*.apk
